.table {
    width: 800px;
    margin: 50px auto;
}

.btn-info {
    margin-right: 20px;
}

tbody tr td:last-child {
    width: 150px;
}
select {
    width: 60px;
    height: 30px;
    outline: 0;
    border-radius: 15px;
    text-align: center;
    color: #337ab7;
    margin-right: 10px;
}
.pager{
    margin: 20px auto;
    text-align: center;
    list-style: none;
    display: block;
    width: 620px
}
.pager li{
    float: left;
    margin-right: 10px;
}
#page{
    display: inline-block;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    outline: 0;
    text-align: center;
}

#seachAll{
    margin: 0 auto;
    width:120px;
    font-size: 16px;
    font-weight: bold;
}
#updateDiv{
    position: absolute;
    font-size: 12px;
    top: 10%;
    left:30%;
    width: 500px;
    height: 450px;
    margin: auto;
    background: hsl(186deg 42% 66% / 45%) border-box;
    border-radius: .3em;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
    0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
    display: none;
}
#updateDiv div{
    margin-top:20px;
    text-align: center;
    line-height: 30px;
}
#updateDiv div input{
    border:powderblue;
    background-color: powderblue;
}
#updateDiv div span{
    float: left;
    font-weight: bold;
    width: 60px;
    margin-left: 20%;
    color: black;
}
#updateDiv div div{
    margin-left: -20px;
}
#updateDiv div p{
    float: right;
    font-size: 10px;
    width:84px;
    color:black;
    /*line-height: 30px;*/
    margin-right: 30px;
}
#updateDiv .closeDiv{
    float:right;
    width:30px;
    margin-right:20px;
    margin-top:10px;
}